@font-face {
    font-family: 'acmeRegular';
    src: url('web-fonts/fonts/acme-regular-webfont.woff2') format('woff2'),
        url('web-fonts/fonts/acme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'glegooRegular';
    src: url('/web-fonts/fonts/glegoo-regular-webfont.woff2') format('woff2'),
        url('/web-fonts/fonts/glegoo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General setup */

html {
    font-size: 10px;
    margin: 0;
    font-family: "acmeRegular", "glegooRegular", serif;
}

body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

/* Typography */

h1 {
    font-size: 3.2rem;
    font-family: "acmeRegular", "glegooRegular", serif;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
}